<ion-view view-title="Favorites" class="favorites-page">
  <ion-content>

    <ion-list>
      <ion-item ng-repeat="song in favorites" class="item-avatar">
        <img ng-src="{{ song.image_small }}">
        <h2>{{ song.title }}</h2>
        <p>{{ song.artist }}</p>

        <ion-delete-button class="ion-minus-circled"
                       ng-click="items.splice($index, 1)">
        </ion-delete-button>
        <ion-option-button class="button-assertive"
                       ng-click="edit(item)">
          <i class="ion-minus-circled"></i>
        </ion-option-button>
      </ion-item>
    </ion-list>
    

  </ion-content>
</ion-view>
