<ion-view view-title="Songhop" hide-nav-bar="true" class="splash-page">
  <ion-content scroll="false">

    <div class="padding logo">
      <h1>songhop</h1>
    </div>


    <div class="login-form">  
      <div class="card">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Enter your {{ signingUp ? 'desired' : 'songhop' }} username">
          </label>
        </div>
      </div>

      <div class="padding-left padding-right">
        <button class="button button-block action-button" ng-class="{'button-positive': !signingUp, 'button-balanced': signingUp}" ng-click="goToApp()">
          Sign <span ng-show="!signingUp">in</span><span ng-show="signingUp">up</span>
        </button>
      </div>
    </div>


    <div class="padding signup-opt" ng-click="signingUp = !signingUp">
      Need an account? Sign up!
    </div>

  </ion-content>
</ion-view>
