<ion-view view-title="Songhop" hide-nav-bar="true" class="splash-page">
  <ion-content scroll="false">

    <div class="padding">
      <h1>Songhop</h1>
    </div>

    <div class="card">
      <div class="list">
        <div class="item">
          <p>Have an account? Sign in!</p>
        </div>
        <label class="item item-input">
          <input type="text" placeholder="Enter your username">
        </label>
      </div>
    </div>

    <div class="padding">
      <button class="button button-block button-positive" ng-click="goToApp()">
        Sign in
      </button>
    </div>

  </ion-content>
</ion-view>
