<ion-view view-title="Discover" class="discover-page">
  <ion-content scroll="false">


    <div class="list card current-song">

      <div class="item item-image">
        <img ng-src="/img/ionic.png">
      </div>

      <div class="item">
        <h2>It's so cold in Wisconsin</h2>
        <p>Max Lynch</p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item">
          <i class="icon ion-close"></i>
          Skip
        </a>
        <a class="tab-item">
          <i class="icon ion-heart"></i>
          Favorite
        </a>
      </div>

    </div>


  </ion-content>
</ion-view>
