/* Empty. Add your own CSS if you like */
.discover-page {

}

.discover-page .current-song {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;

    -webkit-transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.1s;
     transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.1s;
}



.discover-page .current-song.favorited.ng-hide {
  -webkit-transform: translateX(1000px) rotate(50deg);
    -ms-transform: translateX(1000px) rotate(50deg);
    transform: translateX(1000px) rotate(50deg);
    opacity:0;
}

.discover-page .current-song.skipped.ng-hide {
  -webkit-transform: translateX(-1000px) rotate(-50deg);
    -ms-transform: translateX(-1000px) rotate(-50deg);
    transform: translateX(-1000px) rotate(-50deg);
    opacity:0;
}

.discover-page .current-song.ng-hide-add {
  /* this needs to be here to make it visible during the animation
     since the .ng-hide class is already on the element rendering
     it as hidden. */
     -webkit-transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.3s;
     transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.3s;
    display:block!important;
}

.discover-page .current-song.ng-hide-remove {
  -webkit-transform: scale(0.7) translateX(0px) rotate(0deg);
  -ms-transform: scale(0.7) translateX(0px) rotate(0deg);
  transform: scale(0.7) translateX(0px) rotate(0deg);
  opacity: 0;
}