/* Empty. Add your own CSS if you like */
.discover-page {

}

.discover-page .current-song {
  transform: scale(1);
  opacity: 1;

  transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.1s;
}



.discover-page .current-song.favorited.ng-hide {
  transform: translateX(1000px) rotate(50deg);
  opacity:0;
}

.discover-page .current-song.skipped.ng-hide {
  transform: translateX(-1000px) rotate(-50deg);
  opacity:0;
}

.discover-page .current-song.ng-hide-add {
  transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.3s;
  display:block!important;
}

.discover-page .current-song.ng-hide-remove {
  transform: scale(0.7) translateX(0px) rotate(0deg);
  opacity: 0;
}

.discover-page .img-lookahead img {
  height:1px;
  width:1px;
  opacity:0.01;
}